*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --black-color:#000;
    --yellow-color:#F9C600
}
.top_bar{
    height: 83px;
    display: flex;
    align-items: center;
    column-gap: 170px;
    position: relative;
    z-index: 1;

}
.nav_menu,.header_top_right,.header_top_middle{
    display: flex;
    align-items: center;
}
.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.nav_menu_item a{
    font-size: 16px;
    line-height: 24px;
    color:var(--black-color);
    text-decoration: none;
}
.nav_menu{
    column-gap: 170px;
}
.header_top_middle{
    column-gap: 56px;
}
.header_top_right{
    column-gap: 24px;
}
.nav_menu_item img{
    margin-left: 5px;
    margin-bottom: 2px;
}
.btn{
    height: 54px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .40s;
}
.btn:hover{
    box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
}
.btn_start{
    width: 163px;
    background: var(--black-color);
    border:1px solid var(--black-color);
    color: white;
    padding: 0 20px;
}
.header_wrap_content{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    max-height: 886px;
}
.header_content{
    padding:0 257px 0 147px ;
    margin-bottom: 130px;
}
.img_backround{
    position: relative;
    top: 274px;

}
.img_header{
    position: relative;
    right: 110px;
    top:-436px;
}
.header_title{
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--black-color);
}
.header_text{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    padding-top: 20px;
}
.btn_header{
    padding-top: 38px;
}
.btn_srart_free{
    margin-right: 16px;
    background: var(--yellow-color);
    width: 163px;
    border: none;
}
.btn_talk{
    width: 156px;
    background: white;
}
.trust_company{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    width: 547px;
    height: 96px;
    padding: 189px 446px 59px;
}
.companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 192px;
}
.companies_line{
    display: flex;
    column-gap: 80px;}
.description{
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    padding: 0 32px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    column-gap: 10px;
    margin-bottom: 192px;
}
.description_header{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
}
.description_text{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: var(--black-color);
    margin-top: 35px;
}
.example_title p{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    width: 711px;
    height: 80px;
}
.example_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 57px;
}
.example_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.example_img button{
    margin-top: 127px;
}