*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --black-color:#000;
    --yellow-color:#F9C600
}
.top_bar{
    height: 83px;
    display: flex;
    align-items: center;
    column-gap: 170px;
    position: relative;
    z-index: 1;

}
.nav_menu,.header_top_right,.header_top_middle{
    display: flex;
    align-items: center;
}
.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.nav_menu_item a{
    font-size: 16px;
    line-height: 24px;
    color:var(--black-color);
    text-decoration: none;
}
.nav_menu{
    column-gap: 170px;
}
.header_top_middle{
    column-gap: 56px;
}
.header_top_right{
    column-gap: 24px;
}
.nav_menu_item img{
    margin-left: 5px;
    margin-bottom: 2px;
}
.btn{
    height: 54px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .40s;
}
.btn,.btn_integration,.conclusion_btn,.btn_adv_free:hover{
    box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
}
.btn_start{
    width: 163px;
    background: var(--black-color);
    border:1px solid var(--black-color);
    color: white;
    padding: 0 20px;
}
.header_wrap_content{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    max-height: 886px;
}
.header_content{
    padding:0 257px 0 147px ;
    margin-bottom: 130px;
}
.img_backround{
    position: relative;
    top: 274px;

}
.img_header{
    position: relative;
    right: 110px;
    top:-436px;
}
.header_title{
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--black-color);
}
.header_text{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    padding-top: 20px;
}
.btn_header{
    padding-top: 38px;
    display: flex;
}
.btn_srart_free{
    margin-right: 16px;
    background: var(--yellow-color);
    width: 163px;
    border: none;
}
.btn_talk{
    width: 156px;
    background: white;
}
.trust_company{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    width: 547px;
    height: 96px;
    padding: 189px 446px 59px;
}
.companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 192px;
}
.companies_line{
    display: flex;
    column-gap: 80px;
}
.description{
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    padding: 0 32px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    column-gap: 10px;
    margin-bottom: 192px;
}
.description_header{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
}
.description_text{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: var(--black-color);
    margin-top: 35px;
}
.example_title p{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    width: 711px;
    height: 80px;
}
.example_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 57px;
}
.example_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.example_img button{
    margin-top: 127px;
}
.target{
    height: 537px;
    width: 1260px;
    border-radius: 10px;
    background: #BD78F0;
    margin-top: 160px;
    margin-left: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    column-gap: 136px;
}
.target_img{
    padding: 64px 0;
    position: relative;
    left: -24px;
}
.target_header{
    padding-right: 193px;
}
.target_title{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--black-color);
    width: 485px;
    height: 192px;
}
.target_text{
    color: var(--black-color);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    margin-top: 39px;
    Width:550px;
    Height:56px;
}
.solution,.surveys{
    margin-left: 148px;
}
.solution_1{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
    margin-bottom: 13px;
    margin-top: 136px;
}
.soluttion_2{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--black-color);
    height: 144px;
    width:593px;
    margin-bottom: 26px;
}
.soluttion_3{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-bottom: 219px;
}

.btn_example{
    cursor: pointer;
    transition: box-shadow .40s;
    border: none;
    border-radius: 100px;
    height: 40px;
    width: 40px;
}
.example_header{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    margin-top: 23px;
    height: 40px;
    margin-bottom: 29px;
}
.example_description{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--black-color);
    width:484px;
    height:84px;
}
.btn_learnmore{
    width: 144px;
    height: 54px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 14px 29px;
    background: none;
    margin-top: 40px;
    margin-bottom: 128px;

}
.btn_example:hover{
    box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 16px -1px rgba(0,0,0,0.75);
}
.example_solution {
    width: 1440px;
    }
.surveys,.video,.testing{
    display: flex;
    justify-content: space-between;
}
.video,.testing{
    margin-left: 148px;
}
.mini_botoms{
    position: relative;
    top: -110px;
}
.btn_mini_1{
    height: 23px;
    width: 228px;
    padding:4px 8px 3px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
    border: none;
    border-radius: 4px;
}
.btn_mini_2{
    height: 23px;
    width: 147px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
    border: none;
    border-radius: 4px;
}
.btn_mini_3{
    height: 23px;
    width: 152px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--black-color);
    background: var(--yellow-color);
    border: none;
    border-radius: 4px;
}
.specifics{
    background: #F2EDE7;
    height: 960px;
    width: 1440px;
    margin-top: 152px;
}
.features{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
    margin-top: 96px;
    margin-left: 122px;
    margin-bottom: 10px;
}
.features_header{
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--black-color);
    margin-left: 122px;
}
.specifics_img{
    margin-left: 120px;
    margin-top: 140px;
}
.specifics_description{
    display: flex;
    column-gap: 224px;
}
.specifics_accordion{
    width: 588px;
    height: 484px;
    margin-top: 120px;
}
.lernmore_according{
    display: flex;
    column-gap: 8px;
}
.accordion-header button{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
}
.accordion_title{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-top: 25px;
    width: 419px;
    height: 28px;
    margin-bottom: 36px;
}
.accordion_text{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.integration_block{
    margin-top: 184px;
    margin-left: 148px;
}
.integration_header{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361
}
.integration_title{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    width: 669px;
    height: 120px;
}
.integration_text{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    height: 84px;
    width: 667px;
}
.btn_integration{
    width: 208px;
    background: var(--yellow-color);
    height: 54px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .40s;
    border: none;
    margin-top: 36px;
}
.integration_block{
    display: flex;
    column-gap: 183px;
    margin-bottom: 240px;
}
.conclusion{
    display: flex;
    width: 1376px;
    margin-bottom: 46px;
}
.conclusion_case{
    background: #F2EDE7;
    border-radius: 10px 0 0 10px;
    width: 562px;
    height: 584px;
    margin-left: 32px;
    padding-top: 80px;
    padding-left: 116px;
    padding-right: 120px;
    box-sizing: border-box;

}
.conclusion_header{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
}
.conclusion_title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
    width: 314px;
    height: 64px;
}
.conclusion_text{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--black-color);
    height: 84px;
    width: 325px;
    margin-top: 27px;
    margin-bottom: 36px;
}
.conclusion_btn{
    width: 140px;
    height: 54px;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .40s;
}
.response{
    background: var(--yellow-color);
    width: 794px ;
    height: 584px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}
.adv{
    background: #0B2330;
    width: 1440px;
    height: 423px;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adv_title{
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.adv_text{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 642px;
    height: 56px;
    margin: 31px 0;
}
.btn_adv_free{
    width: 140px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .40s;
    background: var(--yellow-color);
    border: none;
}
.adv span{
    border-bottom: solid 1px #375361;
    width: 1375px;
    margin-top: 95px;
}