body{
    margin-left: 400px;
}
.w{
    height: 200px;
    width: 470px;
    background:blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfafa;
}
.box{
    height: 170px;
    width: 150px;
    background: #18467b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfafa;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.w3{
    display: flex;
}
.w4{
    height: 400px;
    width: 470px;
    background:blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfafa;

}