body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h{
    height: 50px;
    width: 400px;
    background: #55d5eb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
.hero {
    height: 150px;
    width: 150px;
    background: #d7c9e3;
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 10px;
}
.main{
    height: 300px;
    width: 240px;
    background: #f5c634;
    display: flex;
    justify-content: center;
    color: white;
}
.hm{
    display: flex;
    }
.side{
    height: 300px;
    width: 150px;
    background: #a0c364;
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    bottom: 150px;
}
.extra{
    height: 150px;
    width: 240px;
    background: #8a8a8a;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
}
.se{
    display: flex;
}
.he{
    display: flex;
    flex-direction: column;
}
.rf{
    display: flex;
    position: relative;
    bottom: 150px;
}

.r{
    height: 100px;
    width: 250px;
    background: #2db774;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
}
.rp{
    height: 100px;
    width: 140px;
    background: #f3ccde;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.f{
    height: 50px;
    width: 400px;
    background: #fea602;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    position: relative;
    bottom: 150px;
}