body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.bg-green{
    background: #3cc6ea;
}
.w500{
    width: 500px;
}
.top{
    height: 25px;
    display: flex;
    flex-direction:row-reverse;
}
.bg-gray{
    background: #cbd8e2;
}
.top2{
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.top2_2{
    height: 20px;
    width:65px;
    border-radius: 15%;
    margin-left: 25px;
    margin-top: 5px;
}
.bgdarkblue{
    background: #122c3f;
}
.top3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marginright{
    margin-right: 50px;
}
.a{
    margin-top: 10px;
}

.bottom{
    height: 20px;
    width:65px;
    border-radius: 15%;
}
.h250{
    height: 250px;
}
.box{
    border: 1px solid #3cc6ea ;
    height: 200px;
    width: 400px;
    display: flex;
    border-radius: 5%;
}
.boxsmall{
    height: 75px;
    width: 83px;
    border-radius: 15%;
    margin-left: 7px;

}
.top4{
    display: flex;
    align-items: center;
    justify-content: center;

}
.topbox{
    display: flex;
    margin-left: 25px;
}
.bottombox{
    display: flex;
    margin-left: 30px;
}
.bottomtext{
    height: 75px;
    width: 80px;
    margin-left: 10px;
}
.ring{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.marginleft{
    margin-left: 15px;
}
.textring{
    color: #cbd8e2;
}
.h70{
    height: 70px;
}
.borderring{
    border: 1px solid #3cc6ea;
    padding: 10px;
    box-sizing: border-box;
}
.bigbox{
    width: 120px;
    height: 50px;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.postcards{
    width: 150px;
    border: 1px solid #3cc6ea;
    height: 200px;
    margin-left: 20px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
}
.options{
    display: flex;
    justify-content: space-around;
}
h4{
    margin: 5px;
}
p{
    margin: 0px;
}
.bottomoptions{
    border: 1px solid #3cc6ea;
    width: 150px;
    height: 10px;
    border-radius:0px 0px 4px 4px;
    margin-left: 20px;
    display:flex;
    justify-content: space-between;
}
.xsbox{
    height: 5px;
    width: 15px;
    margin-left: 5px;
}
.xsbox2{
    height: 5px;
    width: 5px;
    margin-left: 2px;
    margin-right: 5px;
}
.xsboxd{
    display: flex;
}
.postcards9{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.h600{
    height: 600px;
}