.top {
    width: 350px;
    height: 20px;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
}

.bg-gray {
    background: #a6a4a4;
}

.top1 {
    width: 40px;
    height: 10px;
    margin: 5px;
}

.left {
    width: 50px;
    height: 807px;
    border: 3px solid black;
}

.left2 {
    width: 40px;
    height: 10px;
    margin: 5px;
}

.right3 {
    height: 150px;
    width: 294px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxright {
    height: 140px;
    width: 250px;
}

.right4 {
    width: 294px;
    height: 70px;
    border: 3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box4 {
    height: 30px;
    width: 50px;
}

.right5 {
    border: 3px solid black;
    width: 228px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box5 {
    height: 50px;
    width: 100px;
    margin-top: 10px;
}

.sbox5 {
    height: 10px;
    width: 50px;
}

.right6 {
    width: 60px;
    height: 500px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxr6 {
    width: 40px;
    height: 20px;
    margin-top: 10px;
}

.right56 {
    display: flex;
}

.right7 {
    border: 3px solid black;
    width: 294px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.right7box {
    width: 150px;
    height: 15px;
}

.right7sbox {
    width: 120px;
    height: 15px;
}

.wrap {
    display: flex;
}

@media screen and (min-width: 0px ) and (max-width: 992px) {
    .top {
        width: 200px;
        height: 20px;
    }

    .left {
        display: none;
    }
    .boxright{
        height: 90px;
        width: 180px;
    }
    .right3 {
        width: 200px;
        height: 100px;
    }

    .right4 {
        width: 200px;
        height: 160px;
        display: flex;
        flex-wrap: wrap;
    }

    .box4 {
        width: 80px;
        height: 50px;
    }

    .right56 {
        display: flex;
        flex-direction: column;
    }

    .right5 {
        width: 200px;
        height: 300px;
    }

    .box5 {
        width: 80px;
    }

    .blok {
        display: none;
    }

    .right6 {
        width: 200px;
        height: 100px;
    }

    .r66 {
        display: flex;
    }

    .box6_1 {
        width: 100px;
        height: 16px;
    }

    .box6_2 {
        height: 70px;
        width: 69px;
        margin-left: 5px;
    }

    .right7 {
        width: 200px;
    }
}

@media (min-width: 0)and(max-width: 400px) {
body{
    background: red;
}
}